* {
  box-sizing: border-box;
  border:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #493728;
  padding:10px;
  border-bottom:4px solid #493728
}

.App-title {
  font-size: 1.3em;
  width:80%;
}

.App-link {
  color: #61dafb;
}

.App-form {
  padding:10px;
  margin-bottom:35px;
}

.image-container{
  background-color: #FFFFFF;
  cursor:pointer;
}
.menu-toggle {
  float:right;
  height: 35px;
  width: 35px;
  transition: .3s;
}

.menu-toggle-open {
  float:right;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  transition: .3s;
}

.container-table {
  width:100vw;
  padding:0 auto;
  background-color: #B1B8A1;
}
.resource-list{
  border-collapse: collapse;

}

th {
  color:white;
  background-color: #4e5b31;
}

th,td {
  max-width: 20vw;
  height:2em;
  overflow:scroll;
  border:1px solid #493728;
  padding:2px 5px;
}

tr {
  border:3px solid #493728;
}
tr:nth-child(even){background-color: #ECEDEE;}

.resource-list {
  width:90%;
}
