.new-resource-form {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "left center right"
    "bottom bottom bottom";
}

.form-left {
  grid-area: left;
  padding:15px;
}

.form-center {
  grid-area: center;
  margin-bottom: 10px;
  padding:15px
}

.form-right {
  grid-area:right;
  padding:15px
}

.form-bottom {
  grid-area:bottom;
  width:98vw;
  padding:0 40px 0 15px;
}

/* .flex-column {
  display:flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
} */

.flex-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  width:25vw;
  height:2.5em;
  padding-left: .5em;
  font-size:1.1em;
  border:1px solid #493728;
  margin:2px 0;
}

.go-bottom .input-container {
  position: relative;
  overflow: hidden;
}

form input,
form textarea {
  border: 2px solid gray; 
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}

form input:valid,
form textarea:valid {
  background: white;
}
form input:focus,
form textarea:focus {
  border-color: #b15013;
}
form input:focus + label,
form textarea:focus + label {
  background: #b15013;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

form.go-bottom label {
  transition:
    background 0.2s,
    color 0.2s,
    top 0.2s,
    bottom 0.2s,
    right 0.2s,
    left 0.2s;
  position: absolute;
  color: #b15013;
  padding: 7px 6px;
}

form textarea {
  display: block;
  resize: vertical;
}

/* form.go-bottom input,
form.go-bottom textarea {
  padding: 12px 12px 12px 12px; 
} */

form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0%;
  width: 100%;
}
form.go-bottom input:focus,
form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px; 
}
form.go-bottom input:focus + label,
form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}
.city-state-zip{
  padding-top:20px;
}
.input-street {
  width:100%
}

.input-city,
.input-zip {
  width:100%
}

.input-state {
  width: 5em;
}

.input-notes {
  width: 100%;
  overflow: hidden;
  height:5em;
}